# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [39]:
city_data = pd.read_csv('city_data.csv')
city_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Cayenne,75,GF,1580074704,94,4.93,-52.33,77.00,4.70
1,Andenes,100,NO,1580044204,62,69.31,16.12,21.20,23.04
2,Longyearbyen,0,SJ,0,77,78.22,15.64,1.40,1.12
3,Zhangjiakou,100,CN,1580117391,64,40.81,114.88,17.13,4.38
4,Port Alfred,28,ZA,1580059289,78,-33.59,26.89,64.00,7.00
...,...,...,...,...,...,...,...,...,...
555,Rosarito,90,MX,1580087702,67,32.33,-117.03,64.40,9.17
556,Koszeg,35,HU,1580053468,95,47.39,16.54,30.00,1.19
557,Bilibino,99,RU,1580096058,94,68.05,166.44,-7.08,2.35
558,Baltasi,83,RU,1580129831,96,56.35,50.21,4.26,6.91
559,Hastings,100,GB,1580056613,93,50.86,0.57,50.00,27.51

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [34]:
#Gmaps
gmaps.configure(api_key = g_key)

In [35]:
locations = city_data[['Lat', 'Lng']].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = city_data['Humidity'], dissipating = False, 
                                 max_intensity = 100, point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [40]:
#Cloudiness Filter
#0
cloudiness_wish = float(input('What is the max cloudiness you wish?  '))
city_data = city_data.drop(city_data[city_data["Cloudiness"] == cloudiness_wish].index)
city_data

What is the max cloudiness you wish?  0

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Cayenne,75,GF,1580074704,94,4.93,-52.33,77.00,4.70
1,Andenes,100,NO,1580044204,62,69.31,16.12,21.20,23.04
3,Zhangjiakou,100,CN,1580117391,64,40.81,114.88,17.13,4.38
4,Port Alfred,28,ZA,1580059289,78,-33.59,26.89,64.00,7.00
5,Palembang,91,ID,1580124053,94,-2.92,104.75,75.16,1.50
...,...,...,...,...,...,...,...,...,...
555,Rosarito,90,MX,1580087702,67,32.33,-117.03,64.40,9.17
556,Koszeg,35,HU,1580053468,95,47.39,16.54,30.00,1.19
557,Bilibino,99,RU,1580096058,94,68.05,166.44,-7.08,2.35
558,Baltasi,83,RU,1580129831,96,56.35,50.21,4.26,6.91
559,Hastings,100,GB,1580056613,93,50.86,0.57,50.00,27.51

In [41]:
#Max Temp Filter
#80
max_temp_wish = float(input('What is the Max Temp you wish?  '))
city_data = city_data.drop(city_data[city_data["Max Temp"] > max_temp_wish].index)
city_data

What is the Max Temp you wish?  80

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Cayenne,75,GF,1580074704,94,4.93,-52.33,77.00,4.70
1,Andenes,100,NO,1580044204,62,69.31,16.12,21.20,23.04
3,Zhangjiakou,100,CN,1580117391,64,40.81,114.88,17.13,4.38
4,Port Alfred,28,ZA,1580059289,78,-33.59,26.89,64.00,7.00
5,Palembang,91,ID,1580124053,94,-2.92,104.75,75.16,1.50
...,...,...,...,...,...,...,...,...,...
555,Rosarito,90,MX,1580087702,67,32.33,-117.03,64.40,9.17
556,Koszeg,35,HU,1580053468,95,47.39,16.54,30.00,1.19
557,Bilibino,99,RU,1580096058,94,68.05,166.44,-7.08,2.35
558,Baltasi,83,RU,1580129831,96,56.35,50.21,4.26,6.91
559,Hastings,100,GB,1580056613,93,50.86,0.57,50.00,27.51

In [42]:
#Min Temp Filter
#70
min_temp_wish = float(input('What is the Min Temp you wish?  '))
city_data = city_data.drop(city_data[city_data["Max Temp"] <= min_temp_wish].index)
city_data

What is the Min Temp you wish?  70

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Cayenne,75,GF,1580074704,94,4.93,-52.33,77.00,4.70
5,Palembang,91,ID,1580124053,94,-2.92,104.75,75.16,1.50
8,Grand Gaube,75,MU,1580136828,83,-20.01,57.66,77.00,10.29
14,Bengkulu,70,ID,1580124720,88,-3.80,102.27,74.55,3.36
15,Mindelo,40,CV,1580067127,73,16.89,-24.98,71.60,20.80
...,...,...,...,...,...,...,...,...,...
543,Amuntai,41,ID,1580121492,92,-2.42,115.25,72.07,1.70
547,Kasongo-Lunda,100,CD,1580059043,79,-6.47,16.82,72.01,0.72
548,Mahebourg,75,MU,1580136856,83,-20.41,57.70,77.00,10.29
550,Boyolangu,28,ID,1580122768,92,-8.12,111.89,73.99,4.32
551,Muriti,100,TZ,1580141218,67,-1.98,32.92,73.53,1.32

In [43]:
#Wind Speed Filter
#10
wind_speed_wish = float(input('What is the Max Wind Speed you wish?  '))
city_data = city_data.drop(city_data[city_data["Wind Speed"] >= wind_speed_wish].index)
city_data

What is the Max Wind Speed you wish?  10

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Cayenne,75,GF,1580074704,94,4.93,-52.33,77.00,4.70
5,Palembang,91,ID,1580124053,94,-2.92,104.75,75.16,1.50
14,Bengkulu,70,ID,1580124720,88,-3.80,102.27,74.55,3.36
35,Kahului,20,US,1580098336,61,20.89,-156.47,78.80,9.17
40,Valparaiso,2,CL,1580082857,53,-33.04,-71.63,77.00,8.05
...,...,...,...,...,...,...,...,...,...
533,Tabou,38,CI,1580063949,90,4.42,-7.35,78.75,2.30
543,Amuntai,41,ID,1580121492,92,-2.42,115.25,72.07,1.70
547,Kasongo-Lunda,100,CD,1580059043,79,-6.47,16.82,72.01,0.72
550,Boyolangu,28,ID,1580122768,92,-8.12,111.89,73.99,4.32
551,Muriti,100,TZ,1580141218,67,-1.98,32.92,73.53,1.32

Empty DataFrame
Columns: [City, Cloudiness, Country, Date, Humidity, Lat, Lng, Max Temp, Wind Speed]
Index: []

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map